- title "Inbox from #{current_person.username}"

%table
  %tr
    %th Title
    %th Text
  - for messages in @messages
    %tr
      %td= h messages.title
      %td= h messages.text
      %td= link_to 'Show', messages
      %td= link_to 'Edit', edit_message_path(messages)
      %td= link_to 'Destroy', messages, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Message", new_message_path
