<% title "Message" %>

<p>
  <strong>Title:</strong>
  <%=h @message.title %>
</p>
<p>
  <strong>Text:</strong>
  <%=h @message.text %>
</p>
<p>
  <strong>Request:</strong>
  <%=h @message.request_id %>
</p>
<p>
  <strong>Person:</strong>
  <%=h @message.person_id %>
</p>

<p>
  <%= link_to "Edit", edit_message_path(@message) %> |
  <%= link_to "Destroy", @message, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", messages_path %>
</p>
