.margin0auto
  %h2 Login

  - form_tag sessions_path do
    .login
      %p
        = label_tag :login, "Username or Email Address"
        %br
        = text_field_tag :login, params[:login]
      %p
        = label_tag :password
        %br
        = password_field_tag :password
    = submit_tag "Log in"

  %p= link_to "forgot your password?", ''


  .oauth_logins
    %p= link_to image_tag("login_with_facebook.png"), oauth_request_path('facebook')
  