%table.form.signupform
  %tr
    %th
      =f.label :username
      %p.details 4-15 letters and numbers
    %td
      = f.text_field :username
  %tr
    %th
      =f.label :email
      %p.details We won't share, sell, or spam
    %td
      = f.text_field :email
  - if options[:password]
    %tr
      %th
        =f.label :password
        %p.details At least 5 characters
      %td= f.password_field :password
    %tr
      %th
        =f.label :confirm_it
        %p.details Type your password again
      %td= f.password_field :password_confirmation, :id => 'person_confirm_it'
      
  - f.fields_for :address do |address_form|
    %tr
      %th
        =address_form.label :country, 'Country'
        %p.details Where do you come from?
      %td
        - if person.address.country.blank?
          =country_select("person[address_attributes]", "country") 
        - else
          =country_select("person[address_attributes]", "country", [person.address.country]) 
    %tr
      %th
        =address_form.label :city, 'City'
        %p.details 
      %td=address_form.text_field :city
      
    %tr
      %th
        =f.label :street, 'Street'
        %p.details Will not be displayed publicly
      %td= address_form.text_field :street
      
  %tr
    %th
      =f.label :biography, 'About You'
      %p.details Can be filled out later
    %td
      = f.text_area :biography, :size => '25x1'