%table.form
  %tr
    %th
      =f.label :username
      %p.details 4-15 letters and numbers
    %td
      = f.text_field :username
  %tr
    %th
      =f.label :email
      %p.details We won't share, sell, or spam
    %td
      = f.text_field :email
  %tr
    %th
      =f.label :password
      %p.details At least 5 characters
    %td= f.password_field :password
  %tr
    %th
      =f.label :confirm_it
      %p.details Type your password again
    %td= f.password_field :password_confirmation, :id => 'person_confirm_it'
  - f.fields_for :address do |address_form|
    -address_form.fields_for :city do |city_form|
      %tr
        %th
          =address_form.label :city_attributes_country_id, 'Country'
          %p.details Where do you come from?
        %td=city_form.collection_select :country_id, Country.all, :id, :name, :include_blank => 'Please choose...'
      %tr
        %th
          =address_form.label :city_attributes_name, 'City'
          %p.details This is important for sharing
        %td=city_form.text_field :name
        
    %tr
      %th
        =f.label :address_attributes_street, 'Street'
        %p.details Will not be displayed publicly
      %td= address_form.text_field :street