.references
  %h2 References:
  - for reference in references
    .reference
      = link_to gravatar_for(reference.from, :size => 30, :class => 'picture'),person_path(reference.from) 
      %h4="From: #{link_to reference.from.to_s.capitalize, reference.from}"
      = render :partial => 'people/reference_taken_items', :locals => {:reference => reference}

      %h5="#{reference.from.city}, #{reference.from.country}"
      %h5=reference.created_at.strftime('%B %e, %Y') # i.e. October 24, 2009
      -if reference.rating == 'positive'
        .positive
          %h3 positive
      -elsif reference.rating == 'negative'
        .negative
          %h3 negative
      -else
        .neutral
          %h3 neutral

      = textilize_without_paragraph(reference.text)
      %br/
      Edit