.box
  %h2= you_or_person_offer(person)
  .requests
    %table
      -items.each do |item|
        %tr
          %td.title
            = link_to item.title, item_path(item)
          %td="since #{time_ago_in_words(item.created_at)}"
          - if logged_in? and item.person == current_person
            %td
              = link_to '(edit)', edit_item_path(item) 
              = link_to '(delete)', item, :confirm => 'Are you sure?', :method => :delete