#you_requested
  %h2= "You Requested:" 
  =#person.accepted_requests.each do |request|
    =#"#{request.item.title} from #{request.item.person.username} Status: accepted, please pick it up"
  =#person.not_accepted_requests.each do |request|
    =#"#{request.item.title} from #{request.item.person.username} Status: pending, waiting for decision from owner."