- title "Sign up"

%h1 Sign Up
%p== Already have an account? #{link_to "Log in", login_path}.

- form_for @person do |f|
  = f.error_messages
  %table.form
    %tr
      %th
        Username
        %p.details 4-15 letters and numbers
      %td
        = f.text_field :username
    %tr
      %th
        Email
        %p.details We won't share, sell, or spam
      %td
        = f.text_field :email
    %tr
      %th
        Password
        %p.details At least 5 characters
      %td= f.password_field :password
    %tr
      %th
        Confirm it
        %p.details Type your password again
      %td= f.password_field :password_confirmation
    - f.fields_for :address do |address_form|
      -address_form.fields_for :city do |city_form|
        -city_form.fields_for :country_atributes do |country_form|
          %tr
            %th
              Country
              %p.details Where do you come from?
            %td=city_form.collection_select :country_id, Country.all, :id, :name, :include_blank => 'Please choose...'
            -#%td= country_form.localized_country_select :iso, [], :include_blank => 'Please choose...'
        %tr
          %th
            City
            %p.details This is important for sharing
          %td= city_form.text_field :name
      %tr
        %th
          Street
          %p.details Will not be displayed publicly
        %td= address_form.text_field :street

  %p
    .submit.center= f.submit "Sign up"
