- title "Sign up"
.new_signup
  %h1 Signing up is easy


- form_for @person do |f|
  = f.error_messages
  #gateway
    %table.form
      %tr
        %th
          Username
          %p.details 4-15 letters and numbers
        %td
          = f.text_field :username
      %tr
        %th
          Email
          %p.details We won't share, sell, or spam
        %td
          = f.text_field :email
      %tr
        %th
          Password
          %p.details At least 5 characters
        %td= f.password_field :password
      %tr
        %th
          Confirm it
          %p.details Type your password again
        %td= f.password_field :password_confirmation
      %tr
        %th
          Gender
          %p.details
        %td= select_tag(:gender, options_for_select([['male', '0'], ['female','1']]))
  %p
    .submit= f.submit "Sign up"

  -#      %th
  -#        Password
  -#        %p.details At least 5 characters
  -#      %td
  -#        %input
  -#    %tr
  -#      %th
  -#        Confirm it
  -#        %p.details Type your password again
  -#      %td
  -#        %input
