- title " - #{@person.to_s.capitalize}"

%h1==#{@person.to_s.capitalize}'s Profile
=link_to_gravatar(@person)
%p
  =link_to @person.address.city.country.to_s, "http://maps.google.com/maps?q=#{@person.address.city.country.to_s}"
  %br/
  =link_to @person.address.city.to_s, "http://maps.google.com/maps?q=#{@person.address.city.country.to_s} #{@person.address.city.to_s}"

#statistics
  %h1
    =image_tag 'stats.png'
    STATISTICS
  = render :partial => 'you_gave' 
  = render :partial => 'you_took' 
  = render :partial => 'you_offer'
  = render :partial => 'you_requested'
