- if logged_in? and current_person == @person
  - title " &rarr; Your Profile"
- else
  - title "&rarr; #{h(@person.username.capitalize)}"

.profile_header.center
  %h1
    = @person.to_s.capitalize
    = link_to '(edit)', edit_person_path(current_person) if logged_in? and current_person == @person

= render :partial => 'localization', :locals => {:person => @person}

%h2= "#{you_or_person(@person)} Gave"
= render :partial => 'people/you_gave',  :locals => {:items => @given_items, :person => @person} unless @given_items.empty?
%h2= "#{you_or_person(@person)} Took"
= render :partial => 'you_took',  :locals => {:items => @taken_items, :person => @person} unless @taken_items.empty?
%h2= you_or_person_offer(@person)
= render :partial => 'you_offer', :locals => {:items => @offered_items, :person => @person} unless @offered_items.empty?
  
-content_for :sidebar_in_box do
  = render :partial => 'default_sidebar_in_box', :locals => {:person => @person, :references => @references}
