- title "&rarr; #{h(@person.username.capitalize)}"

.profile_header.center
  %h1==#{@person.to_s.capitalize}

= render :partial => 'localization', :locals => {:person => @person}

-unless @given_items.empty?
  %h2 Gave:
  = render :partial => 'show_items', :locals => {:items => @given_items}
-unless @taken_items.empty?
  %h2 Took:
  = render :partial => 'show_items', :locals => {:items => @taken_items}
- unless @offered_items.empty?
  = render :partial => 'people/offers', :locals => {:items => @offered_items}
  
-content_for :sidebar_in_box do
  = render :partial => 'default_sidebar_in_box', :locals => {:person => @person, :references => @references}
