- title " - #{@person.to_s.capitalize}"

%h1==#{@person.to_s.capitalize}'s Profile
=gravatar_for(@person)
%p
  =link_to @person.address.city.country.to_s, "http://maps.google.com/maps?q=#{@person.address.city.country.to_s}"
  %br/
  =link_to @person.address.city.to_s, "http://maps.google.com/maps?q=#{@person.address.city.country.to_s} #{@person.address.city.to_s}"

#statistics
  %h1
    =image_tag 'stats.png'
    STATISTICS
  = render :partial => 'you_gave' unless @items_given.empty?
  = render :partial => 'you_took' unless @items_taken.empty?
  = render :partial => 'you_offer' unless @items_offered.empty? and @items_offered_and_accepted.empty?
  = render :partial => 'you_requested' unless @requests_accepted.empty? and @requests_not_accepted.empty?
