-show_profile_title

.profile_header.center
  %h1
    = @person.to_s.capitalize
    %span.subtitle= link_to '(edit)', edit_person_path(current_person) if logged_in? and current_person == @person

= render :partial => 'localization', :locals => {:person => @person}
=# render :partial => 'about_you'
= your_requests
= render :partial => 'you_gave_took_offer'
      
- content_for :sidebar_in_box do
  = render :partial => 'default_sidebar_in_box', :locals => {:person => @person, :references => @references}
