- title " - #{@person.to_s.capitalize}"

.profile_header.center
  %h1==#{@person.to_s.capitalize}
  %p
    =link_to @person.address.city.country.to_s, "http://maps.google.com/maps?q=#{@person.address.city.country.to_s}"
    %br/
    =link_to @person.address.city.to_s, "http://maps.google.com/maps?q=#{@person.address.city.country.to_s} #{@person.address.city.to_s}"
    %br/
    =link_to "lat: 51.21 lng: 6.76", "http://maps.google.com/maps?q=51.21+6.76"

-unless current_person.given_items.empty?
  %h2 Gave:
  = render :partial => 'show_items', :locals => {:items => current_person.given_items}
-unless current_person.taken_items.empty?
  %h2 Took:
  = render :partial => 'show_items', :locals => {:items => current_person.taken_items}
- unless current_person.offered_items.empty?
  = render :partial => 'people/offers', :locals => {:items => current_person.offered_items}
-content_for :sidebar_in_box do
  = render :partial => 'people/avatar_profile', :locals => {:person => @person}
  = render :partial => 'people/send_message', :locals => {:person => @person}
  = render :partial => 'items/statistics', :locals => {:person => @person}
  = render :partial => 'people/references'