- title "Articles"

%table
  %tr
    %th Section
    %th Title
    %th Body
  - for articles in @articles
    %tr
      %td= h articles.section_id
      %td= h articles.title
      %td= h articles.body
      %td= link_to 'Show', articles
      %td= link_to 'Edit', edit_articles_path(articles)
      %td= link_to 'Destroy', articles, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Articles", new_articles_path
