#nav_user
  = unread_messages(current_person)
  = requests(current_person)
  = accepted_requests(current_person)
  = link_to(avatar_picture(current_person, :size => 'small'), person_path(current_person))
  .logout= link_to 'logout', logout_path