#nav_user
  = link_to("#{current_person.unread_messages.count} new", inbox_path, :class => 'messages')
  - unless current_person.unaccepted_requests.count == 0
    = link_to("#{current_person.unaccepted_requests.count}R", inbox_path, :class => 'requests')
  - unless current_person.accepted_requests.count == 0
    =link_to(current_person.accepted_requests.count, inbox_path, :class => 'accepted')
  
  
  = link_to 'logout', logout_path, :id => "nav_user_logout"
  = link_to gravatar_for(current_person, :size=>36, :class => 'gravatar'),person_path(current_person.username)
  
    