#nav_user
  = unread_messages(current_person)
  = requests(current_person)
  = accepted_requests(current_person)
  = avatar_picture(current_person, :size => 'small')
  .logout= link_to 'logout', logout_path