.orange
  %table
    - for accepted_request in requests_accepted_by_you
      %tr
        %td 
          .name= link_to 'You', person_path(current_person)
        %td want to give
        %td.title= print_item(accepted_request)
        %td to
        %td.gravatar= link_to gravatar_for(accepted_request.requester, :size=>28), person_path(accepted_request.requester)
        %td
          .name= link_to h(accepted_request.requester.username.capitalize), person_path(accepted_request.requester)
        %td.mark
          = link_to "Mark as given", given_request_path(accepted_request)
          |
          = link_to "Reset", ""
