.box.requests_for_you.cyan
  %h2 Your Requests
  %table
    - for undecided_request in requests_from_x
      %tr
        %td.gravatar= link_to gravatar_for(undecided_request.requester, :size=>28), person_path(undecided_request.requester)
        %td 
          .name= link_to h(undecided_request.requester.username.capitalize), person_path(undecided_request.requester)
        %td wants to have
        %td.title.center= link_to truncate(undecided_request.item.title, 50), item_path(undecided_request.item.to_param)
        %td from
        %td 
          .name= link_to 'you', person_path(current_person)
        %td.mark= accept_decline(undecided_request)