.box.requests_by_you.green
  %h2 Things that you requested
  %table
    - for request in requests
      %tr
        %td 
          .name= link_to 'you', person_path(current_person)
        %td requested
        %td.title= link_to truncate(request.item.title, 50), item_path(request.item.to_param)
        %td from
        %td.gravatar= link_to avatar_picture(request.owner, :size=>'tiny'), person_path(request.owner)
        %td 
          .name= link_to h(request.owner.username.capitalize), person_path(request.owner)
        %td.mark= link_to "Take Back Request", take_back_request_path(request), :confirm => 'Are you sure?', :method => :delete