%h2 Undecided Requests:
.messages
  %table
    %tr
      %th{:colspan => 2} From
      %th.for For
      %th.sent Sent
      %th.accept 
      %th.decline
    - for undecided_request in undecided_requests
      %tr
        %td.first= link_to gravatar_for(undecided_request.requester, :size=>28), person_path(undecided_request.requester.to_param)
        %td.from= link_to h(undecided_request.requester.username), person_path(undecided_request.requester.to_param)
        %td.for= link_to undecided_request.item.title, item_path(undecided_request.item.to_param)
        %td.sent.center= undecided_request.created_at.strftime("%d/%m/%Y<br/>%k:%M") 
        %td.accept.center= link_to 'Accept', accept_request_path(undecided_request) 
        %td.decline.center= link_to 'Decline', decline_request_path(undecided_request) 

