- form_tag '/search', :method => 'get' do
  .search_form
    .in_field_label.float_left
      %label{:for=>"search_title_like"}==search things
      =#text_field_tag :search, nil, :size => 36, :id=>"search_#{search}"
      = text_field_tag 'search[title_like]', nil, :size => 36
    .float_right
      = image_submit_tag "searchbutton.png", :class => 'image_submit'
    .clear
    %div{:class=>'select_boxes hide_me', :id=>"search_select_#{search}"}
      %ol.formList
        %li= select_countries(@countries)
        %li= select_categories
