- form_tag "/#{search}/", :method => 'get' do
  .search_form
    .in_field_label.float_left
      %label{:for=>"#{search}"}==search #{search}
      = text_field_tag :search, nil, :size => 36, :id=>"#{search}"
    .float_right
      = image_submit_tag "searchbutton.png", :class => 'image_submit'
    .clear
    =#select("post", "person_id", Person.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'})
