- form_tag "/#{search}/", :method => 'get' do
  .search_form
    .in_field_label.search_text_field
      %label{:for=>"#{search}"}==search #{search}
      = text_field_tag :search, nil, :size => 36, :id=>"#{search}"
    .search_submit_tag
      = image_submit_tag "searchbutton.png", :class => 'giveaway_submit'
    .clear
