-title " &rarr; Browse items"

%h1 Results:

%table#show_items.tablesorter.items_search
  %thead
    %tr
      %th.title Title
      %th Country
      %th City
      %th Since
      - unless params[:near].blank?
        %th Distance
      %th By
  %tbody
    -@items.each do |item|
      %tr
        %td
          =link_to(h(item.title), "/items/#{item.id}-#{item.title.underscore[0..30]}")
          %br/
          =textilize_without_paragraph(h(truncate(item.description, 400)))
        %td=item.address.country
        %td=item.address.city
        %td=time_ago_in_words item.created_at
        - unless params[:near].blank?
          %td="≈ #{item.distance.to_i} miles" 
        %td=link_to(item.person.username, "/people/#{item.person.username}")  
  %tfoot
    %tr
      %th{:colspan=>6}= will_paginate @items