- title " &rarr; #{@item.title}"

= item_taken_or_accepted(@item)

%h2
  =textilize_without_paragraph(word_wrap(@item.title, 60))
  =link_to '(edit)', edit_item_path(@item) if @item.person == current_person if logged_in?
.width450
  %p
    %strong=t('.description') unless @item.description.empty?
    %br/
    =textilize_without_paragraph h(@item.description) unless @item.description.empty?
  = image_of_item(@item)
  = send_request(@request, @item)


  - content_for :sidebar_in_box do
    = render :partial => 'people/default_sidebar_in_box', :locals => {:person => @person, :references => @references}
  
  