- title " - #{@item.title}"
%h1=@item.title
%p
  %strong Owner:
  =h @item.person.username

%p
  %strong Name:
  =h @item.title

%p
  %strong= "Description: #{h @item.description}" unless @item.description.empty?
  
= image_tag @item.photo.url unless @item.photo.url == "/photos/original/missing.png"

%h2 Send a request to take this item
#send_request
  -form_for @request do |f|
    =f.error_messages
    =f.text_area :text, :size => "40x4"
    =hidden_field_tag 'request[item_id]', params[:id].to_i
    %br
    =f.submit "send request"

%p
  = link_to "View All", items_path