!!! Strict
%html{html_attrs}
  %head
    %title= "GiveAwayThings #{yield :title}"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery-1.3.2.min','jquery.tablesorter.min.js','jquery.tipsy','jquery.elastic','application'
    = yield :head
    = ie_sensitivity
  %body
    = fb_connect_javascript_tag
    -#init_fb_connect_with_options(options = {},*required_features, &proc)
    = init_fb_connect "XFBML", :js => :jquery
  
    #container
      #header
        .header_content
          =render :partial => 'layouts/header'
          
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        #content_wrapper
          .rounded_corners.float_left.content_menu
            .main.float_left
              = yield
            -if @content_for_sidebar_in_box
              .float_right.sidebar_in_box
                =yield :sidebar_in_box
              .clear
            
          -if @content_for_sidebar
            .float_left.rounded_corners.sidebar
              = yield :sidebar

          .clear
      #footer
        = render :partial => 'shared/footer'
    = javascripts