!!! Strict
%html{html_attrs}
  %head
    %title
      = h("GiveAwayThings #{yield :title}")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery-1.3.2.min', 'jquery.infieldlabel.min'
    = javascript_include_tag 'application'
    /[if IE]
      %style{:type=>"text/css", :media=>"screen"}
        form label {
        background: #fff;
        }

    = yield(:head)
  
  %body

    #container
      #header
        #logo= link_to image_tag('logo.png'),'/'
        #nav_user
          %a#nav_user_messages{:href=>"/inbox"} 0 new
          = link_to 'logout', logout_path, :id => "nav_user_logout"
          = link_to image_tag("avatar_kirk.png", :width=>36, :height => 36),welcome_path,:id => 'nav_user_avatar'


      #content
        .middle_background
          .middle
            .body
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}"
              - if show_title?
                %h1=h yield(:title)

              = yield
      #footer
        &copy GiveAwayThings

    :javascript
      var uservoiceOptions = {
      /* required */
      key: 'giveawaythings',
      host: 'giveawaythings.uservoice.com',
      forum: '35511',
      showTab: true,
      /* optional */
      alignment: 'left',
      background_color:'#f00',
      text_color: 'white',
      hover_color: '#efb108',
      lang: 'en'
      };

      function _loadUserVoice() {
      var s = document.createElement('script');
      s.setAttribute('type', 'text/javascript');
      s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
      document.getElementsByTagName('head')[0].appendChild(s);
      }
      _loadSuper = window.onload;
      window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };